input[type="range"].range-slider.range-slider--dark::-webkit-slider-thumb {
  background: #2d4658;
}
input[type="range"].range-slider.range-slider--dark::-moz-range-thumb {
  background: #2d4658;
}
input[type="range"].range-slider.range-slider--dark::-ms-thumb {
  background: #2d4658;
}

input[type="range"].range-slider {
  color: black;
}

input[type=range].range-slider::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: #9bb4eb;
  border-radius: 2px;
}
input[type=range].range-slider::-moz-range-track {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: #9bb4eb;
  border-radius: 2px;
}
input[type=range].range-slider::-ms-track {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: #9bb4eb;
  border-radius: 2px;
}
input[type=range].range-slider::-ms-fill-lower {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: #9bb4eb;
  border-radius: 2px;
}
